Depo_Otomasyon/bin/Debug/Depo_Otomasyon.accdb
Depo_Otomasyon/bin/Debug/Depo_Otomasyon_Backup.accdb

Depo_Otomasyon/bin/Debug/Depo_Otomasyon.pdb
Depo_Otomasyon/bin/Debug/Depo_Otomasyon.vshost.exe
Depo_Otomasyon/bin/Debug/Depo_Otomasyon.vshost.exe.manifest

Depo_Otomasyon/bin/Debug/İconlar/Thumbs.db

Depo_Otomasyon/bin/Debug/Resimler/Thumbs.db

Depo_Otomasyon/bin/Debug/MessagingToolkit-QRCode/uninstall.exe

Depo_Otomasyon/bin/x86/Debug/Depo_Otomasyon.pdb
Depo_Otomasyon/bin/x86/Debug/Depo_Otomasyon.vshost.exe
Depo_Otomasyon/bin/x86/Debug/Depo_Otomasyon.vshost.exe.manifest

Depo_Otomasyon/*.resx
Depo_Otomasyon/Depo_Otomasyon.csproj
Depo_Otomasyon/Depo_Otomasyon.csproj.user

Depo_Otomasyon/obj/*
Depo_Otomasyon/Properties/*.resx